.display {
  width: 70vw;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
}
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emoji {
  margin-left: 90px;
  margin-right: 80px;
  margin-top: 20px;
}

@media only screen and (max-width: 420px) {
  /* MOBILE */
  .display {
    width: 90vw;
  }
}
