.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.button-group {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-left: auto;
  margin-right: auto;
}
.display {
  margin-left: auto;
  margin-right: auto;
}
.shilpi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.emoji {
  margin-left: 35px;
  margin-right: 35px;
}
.button1 {
  width: 100px;
  height: 20px;
}
.button2 {
  width: 110px;
  height: 20px;
}
.button3 {
  width: 120px;
  height: 20px;
}
