.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
body {
  margin: 10px;
}
.tab {
  margin-left: 12%;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
