.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.button-group {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.emoji {
  margin-left: 35px;
  margin-right: 35px;
}
